<h1 mat-dialog-title>Contraseña generada</h1>
<div mat-dialog-content class="dialog-content">
    <div class="dialog-content">
        <label>Usuario: </label>
        <input class="eye" matInput type="text" readonly value=" {{data.user}}"/>
    </div>
    <div class="dialog-content">
        <label>Contraseña: </label>
        <input class="eye" matInput [type]="hide ? 'password' : 'text'" readonly value="{{data.pass}}">
        <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
</div>