<o-form #myForm editable-detail="no" show-header="no">
  <div fxLayout="column">
    <div fxLayout="column">
      <h2>{{'charts'| oTranslate}}</h2>
      <o-combo attr="year" label="2023" [data]="2023"  value-column="name" columns="id;name" 
        visible-columns="name" read-only="yes"></o-combo>
      <h3>{{'GLOBAL-BOOKINGS' | oTranslate}}: {{'not_picked_up_bookings' | oTranslate}}</h3>
    </div>
    <div fxLayoutAlign="space-between center">
      <div fxLayout="column">
        <h4>{{ 'users_not_picked_up' | oTranslate }}: {{ total_not_picked_up }} </h4>
        <p>{{ 'scaling_criteria' | oTranslate }}: {{ criteriaValue }}, {{ 'criteria' | oTranslate }}.</p>
      </div>
      <o-chart  #discretebar1 type="discreteBar" x-label="Axis x" y-label="Axis Y" [data]="graphData" 
        [chart-parameters]="chartParameters" fxFlex x-data-type ="text" y-data-type="number"></o-chart>
      
    </div>
    <div fxLayoutAlign="space-between center">
      <p><b>{{'over' | oTranslate}}</b>: {{'legend1' | oTranslate}}.</p>
      <p><b>{{'under' | oTranslate}}</b>: {{'legend1' | oTranslate}}.</p>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="column">
      <h4>{{ 'users_over' | oTranslate }}: </h4>
    </div>
  </div>
  <o-chart #discretebar2 id="discrete" type="discreteBar" x-label="Axis x" y-label="Axis y" 
    [data]="graphDataU" [chart-parameters]="chartParameters2" fxFlex x-data-type ="text" y-data-type="number"></o-chart>
</o-form>