.container-product-view{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    min-height: 85vh;
    background-color: #f9fafc;
    padding: 1rem;
    border-radius: 2px;
}

.product-view-image {
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: fit-content;
    width: 350px;
    height: 370px;
}

.product-view-image img{
    width: 350px;
    height: 370px;
    object-fit: cover;
    border-radius: 2px;
}

.product-view-content span {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 1rem;
}
.units{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem  0;
}
.units input{
    background-color: #F9FAFC;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #898B8C;
    width: 25%;
    height: 10%;
}
