<o-form #myForm editable-detail="no" show-header="no">
    <div><h2>{{'charts'| oTranslate}}</h2></div>
    <o-combo attr="year" label="2023" [data]="2023"  value-column="name" columns="id;name" 
      visible-columns="name" read-only="yes"></o-combo>
    <div><h3>{{'GLOBAL-BOOKINGS' | oTranslate}}: {{'profits_per_month' | oTranslate}}</h3></div>
    <o-chart #discretebar type="discreteBar" x-label="Axis x" y-label="Profits" x-data-type="text" [data]=graphDataP [chart-parameters]="chartParameters" fxFlex></o-chart>
    <o-chart #lineChart type="stackedAreaChart" service="bookings" entity="sellBooking"  x-axis="timeDateD" y-axis="profits" 
      [chart-parameters]="chartParameters1" x-data-type="time"></o-chart>
  </o-form>
  